<fieldset>
  <div class="form-group">

    <%= label_tag :name %><br>
    <%= text_field_tag 'ngo[notifier][name]', nil,{class: "form-control", placeholder: "Name"} %>
  </div>
  <div class="form-group">
    

    <%= label_tag :phone %><br>
    <%= text_field_tag  'ngo[notifier][phone]', nil,{class: "form-control", placeholder: "Mobile"} %>
  </div>
  <div class="form-group">

    <%= label_tag :email %><br>
    <%= text_field_tag 'ngo[notifier][email]', nil,{class: "form-control", placeholder: "Email"} %>
  </div>
  <a class="delete_notifier btn btn-danger btn-sm"><i class="fa fa-minus"></i>&nbsp;&nbsp;Delete notifier</a></br></br>
  <fieldset>
