
<!--      FORM START                                          -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <h3>NGO Details</h3>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12 col-xs-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-8">
              <h2> <%= @ngo.name %> </h2>
              <p><strong>About: </strong>  </p>
              <p><strong>Address: </strong> <%= @ngo.address %> </p>
              <!-- <p><strong>Latitude: </strong> <%= @ngo.lat %> </p>
                <p><strong>Longitude: </strong> <%= @ngo.lang %>
              </p> -->
            </div><!--/col-->
            <div class="clearfix"></div>
            <div class="col-xs-12 col-sm-4">

            </div><!--/col-->
            <div class="col-xs-12 col-sm-4">

            </div><!--/col-->
            <div class="col-xs-12 col-sm-4">

            </div><!--/col-->
          </div><!--/row-->
        </div><!--/panel-body-->
      </div><!--/panel-->
    </div><!--/col-md-8-->




  </div><!--/row-->

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
        <div class="well profile">
          <h1>Notifiers</h1>
          <div class="col-sm-12">
            <% if @notifiers.count > 1 %>
            <% @notifiers.each do |n| %>
            <div class="col-xs-12 col-sm-8">
              <h2><%= n.name %></h2>
              <p><strong>Email: </strong> <%= n.email %> </p>
              <p><strong>Mobile: </strong> <%= n.phone %> </p>
            </div>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div><!--/container-->






<!-- -->

<!-- -->


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<!--                FORM END                            -->
