
<!--      FORM START                                          -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <h3><%= @ngo.name %></h3>
    </div>

  </div>
  <div class="row">


<!-- -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-sm-6">

      <div class="card hovercard">
        <div class="cardheader">

        </div>
        <div class="avatar">
          <img alt="" src="http://www.davey.com/media/1001/home-tree.png?width=960&height=520&quality=80&mode=crop">
        </div>
        <div class="info">
          <div class="title">
            Name :<strong><%= @ngo.name %></strong>
          </div>
          <div class="desc">Address :<%= @ngo.address %> </div>
        </div>
        <div class="bottom">

    </div>
  </div>

</div>

</div>
</div>
<!-- -->


  </div><!--/row-->

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
        <div class="well profile">
          <h3>Notifiers</h3>
          <div class="col-sm-12">

            <% @notifiers.each do |n| %>
            <div class="col-xs-12 col-sm-8">
              <h2><%= n.name %></h2>
              <p><strong>Email: </strong> <%= n.email %> </p>
              <p><strong>Mobile: </strong> <%= n.phone %> </p>
            </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>

</div><!--/container-->






<!-- -->

<!-- -->


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<!--                FORM END                            -->
