
<!--      FORM START                                          -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <h3>NGO Details</h3>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12 col-xs-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-8">
              <h2> <%= @ngo.name %> </h2>
              <p><strong>About: </strong>  </p>
              <p><strong>Address: </strong> <%= @ngo.address %> </p>
              <p><strong>Latitude: </strong> <%= @ngo.lat %> </p>
                <p><strong>Longitude: </strong> <%= @ngo.lang %>
              </p>
            </div><!--/col-->
            <div class="clearfix"></div>
            <div class="col-xs-12 col-sm-4">

            </div><!--/col-->
            <div class="col-xs-12 col-sm-4">

            </div><!--/col-->
            <div class="col-xs-12 col-sm-4">

            </div><!--/col-->
          </div><!--/row-->
        </div><!--/panel-body-->
      </div><!--/panel-->
    </div><!--/col-md-8-->




  </div><!--/row-->
</div><!--/container-->


<div class="container">
  <div class="row">
    <div class="[ col-sm-12 col-md-4 ]">
      <% @notifiers.each do |n| %>
      <div class="[ info-card ]">
        <div class="[ info-card-details ] animate">
          <div class="[ info-card-header ]">
            <h1> <%= n.name %> </h1>
          </div>
          <div class="[ info-card-detail ]">
            <!-- Description -->
            Email  : <%= n.email %><br/>
            Mobile : <%= n.phone %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<!--                FORM END                            -->
