<div class="container" style="margin: 60px 0px;">
  <div class="row">
    <div class='col-lg-6 col-md-offset-3'>
  <%= form_for(@transporter) do |f| %>
    <% if @transporter.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@transporter.errors.count, "error") %> prohibited this transporter from being saved:</h2>

        <ul>
        <% @transporter.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.hidden_field :user_id, value: current_user.present? ? current_user.id : nil %>



    <div class="form-group">
      <div class=''>
        <%= f.label :name, :style=> "  margin-bottom: 10px; text-transform: uppercase;" %>
      </div>
      <div class=''>
        <%= f.text_field :name, class: "form-control", value: current_user.present? ? current_user.name : nil %>
      </div>
    </div>

    <div class="form-group">
      <div class=''>
      <%= f.label :phone, :style=> "  margin-bottom: 10px; text-transform: uppercase;" %>
      </div>
      <div class=''>
      <%= f.text_field :phone, class: "form-control" %>
      </div>
    </div>

    <div class="form-group" style="display: none;">
      <div class=''>
      <%= f.label :email %>
      </div>
      <div class=''>
      <%= f.text_field :email, class: "form-control", value: current_user.present? ? current_user.email : nil %>
      </div>
    </div>
    <br>

    <div class="actions " style="text-align: center;">
      <%= f.submit "Submit", :class => "btn btn-action btn-block" %>
    </div>
  <% end %>
</div>
</div>
</div>
