<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list_item.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @list_item.quantity %>
</p>

<p>
  <strong>Food donor:</strong>
  <%= @list_item.food_donor %>
</p>

<%= link_to 'Edit', edit_list_item_path(@list_item) %> |
<%= link_to 'Back', list_items_path %>
