<button onclick="getLocation();" class="btn btn-xs" style="  float: right;  margin-right: 80px;  margin-top: 7px;">Track my location</button>
<%= form_for(@food_donor) do |f| %>
  <% if @food_donor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food_donor.errors.count, "error") %> prohibited this food_donor from being saved:</h2>

      <ul>
      <% @food_donor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :name %><br>
     <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <div class="form-group">
    <%= f.label :email %><br>
    <%= f.email_field :email, :class => 'form-control'  %>
  </div>
  <div class="form-group">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone, :class => 'form-control'  %>
  </div>
  <div class="form-group">
    <%= f.label :address %><br>
    <%= f.text_area :address, :class => 'add_location form-control'   %>
  </div>



      <div class="form-group">
        <%= f.label :available_till %><br>
        <%= f.text_field :available_till, :class => 'form-control'  %>
    </div>
    <div class="form-group">
      <%= f.label :sufficient_for %><br>
      <%= f.text_field :sufficient_for, :class => 'form-control'  %>
    </div>


    <div class="form-group">
        <%= f.label :food_details %><br>
        <%= f.text_area :food_details, :class => 'form-control'  %>
    </div>

    <div class="form-group">
      <%= f.check_box :has_transport  %>
      <%= f.label :has_transport %>
    </div>
  </div>
  <div class="col-md-6">
    <div id='map' style='  height: 400px;  width:100%;  '></div>
    <script></script>
  </div>
</div>

<%= f.hidden_field :lat, :id => 'lat' %>
<%= f.hidden_field :lang, :id => 'lng' %>

<div class="row">
<div class="actions">
      <%= f.submit %>
    </div>
    </div>





<% end %>
