


<div class='container'>
<div class='col-lg-6'>
    <%= form_for(@region) do |f| %>
      <% if @region.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@region.errors.count, "error") %> prohibited this region from being saved:</h2>

          <ul>
          <% @region.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :address %><br>
        <%= f.text_field :address,class: "form-control", placeholder: "Address" %>
      </div>
        <%= f.hidden_field :lat,class: "form-control" %>
        <%= f.hidden_field :long,class: "form-control" %>
      <div class="form-group">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
