
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

	<title>Lets Donate - Waste Less. Feed More. </title>

	<link rel="shortcut icon" href="assets/images/gt_favicon.png">

	<!-- Bootstrap -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<!-- Icons -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<!-- Fonts -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
	<!-- Custom styles -->
	<%= stylesheet_link_tag    'application', media: 'all'  %>

	<!--[if lt IE 9]> <script src="assets/js/html5shiv.js"></script> <![endif]-->
</head>



<body class="home">
  <%= csrf_meta_tags %>



<header id="header">
	<nav class="navbar navbar-default navbar-sticky" style="  margin-bottom: 0px;">
		<div class="container">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			</div>

			<div class="navbar-collapse collapse">

				<ul class="nav navbar-nav">
					<li class="active" style="float:left;"><a href="/dashboard">Dashboard</a></li>
					<li class="active" style="float:left;"><a href="<%=  %>">NGO</a></li>
					<% if current_user.blank? %>
						<li class="active"><a href="<%= user_omniauth_authorize_path(provider: 'facebook') %>">Login</a></li>
					<% end %>
					<% if current_user.present? %>
					<li class="active" style="float:right;"><%= link_to "logout",destroy_user_session_path, :method => :delete %></li>
					<% end %>
				</ul>

			</div><!--/.nav-collapse -->
		</div>
	</nav>
	<div id="head" <%= raw 'style="padding: 5px;"' if request.params[:action].to_s != "set_user_type" %>>
		<h1 id="logo" class="text-center">
			<%= image_tag "logo.png", :style => "background-color: rgba(255, 255, 255, 0.54);" %><br>
			<span class="tagline" style="font-size: 2rem;">Waste Less. Feed More. </span>
		</h1>
	</div>

	<% unless current_user.has_role? %>

	<nav class="navbar navbar-default navbar-sticky">
		<div class="container">
      <div class="navbar-collapse collapse">

							<ul class="nav navbar-nav">
								<li class="active"><a href="<%= new_food_donor_path %>" style="color: #817F7F;
  text-transform: none;
  font-style: italic;">

“I have three things I'd like to say today. First, while you were sleeping last night, 30,000 kids died of starvation or diseases related to malnutrition. Second, most of you don't give a shit.”
― Tony Campolo

</a></li>
							</ul>

		 	</div><!--/.nav-collapse -->
		</div>
	</nav>

	<% end %>


</header>

<main id="main">

	<div class="container">

  <% if flash[:notice] -%>
	 		<br>
			<div class="alert alert-success alert-dismissable">
				<a href="#" class="close" data-dismiss="alert">&times;</a>
				<%=h flash[:notice] %>
			</div>
		<% end -%>

	<%= yield %>


			</div>	<!-- /container -->

		</main>


<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 widget">
				<h3 class="widget-title">Contact</h3>
				<div class="widget-body">
					<p>+9032762521<br>
						<a href="mailto:#">vivek@startups.in</a><br>
						<br>
						G1, RK Plaza, Addagutta Housing Society, TG, India 500090
					</p>
				</div>
			</div>

			<div class="col-md-3 widget">
				<h3 class="widget-title">Follow us</h3>
				<div class="widget-body">
					<p class="follow-me-icons">
						<a href=""><i class="fa fa-twitter fa-2"></i></a>
						<a href=""><i class="fa fa-dribbble fa-2"></i></a>
						<a href=""><i class="fa fa-github fa-2"></i></a>
						<a href=""><i class="fa fa-facebook fa-2"></i></a>
					</p>
				</div>
			</div>

			<div class="col-md-3 widget">
				<h3 class="widget-title">Team</h3>
				<div class="widget-body">
					<span>Vivek Sampara</span><br>
					<span>Kishore BJV</span><br>
					<span>Rafeeq Shaik</span><br>
					<span>Suman Ghosh</span><br>
					<span>Madhusudhan Rao</span>
				</div>
			</div>

			<div class="col-md-3 widget">
				<h3 class="widget-title">AngelHack Hackathon</h3>
				<div class="widget-body">
					<p>Hyderabad<br>
						<a href="mailto:#">http://angelhack.com/</a><br>
						<br>
					</p>
				</div>
			</div>

		</div> <!-- /row of widgets -->
	</div>
</footer>

<footer id="underfooter">
	<div class="container">
		<div class="row">

			<div class="col-md-6 widget">
				<div class="widget-body">
					<p>  </p>
				</div>
			</div>

			<div class="col-md-6 widget">
				<div class="widget-body">
					<p class="text-right">
						Copyright &copy; 2014, LetsDonate Pvt Ltd<br>
						Design: <a href="http://www.gettemplate.com" rel="designer">Initio by GetTemplate</a> </p>
				</div>
			</div>

		</div> <!-- /row of widgets -->
	</div>
</footer>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<%= javascript_include_tag 'application'  %>
</body>
</html>
